.loading-screen{
    background-color: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999999999999;
    display: flex;
}
body{
    overflow: hidden;
}
header {
    position: relative;
    height: 100vh;
    background-image: url(../img/events-heavenly-header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover ;
    color: white;
}
header .cover {
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(214, 46, 51 , 0.6);
}
.cover {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-cover {

    text-align: center;
}
.inner-cover h2 {

font-size: 60px;
}
.open-tap {
    position: absolute;
    left: 10px;
}
#left-menu {
    height: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    width: 0px;
}
.side-nav a {
    padding: 20px 8px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: white;
}
.side-nav a:hover {
    padding: 20px 8px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    color: rgb(231, 93, 93);
}
.side-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
.side-nav .closebtn:hover {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}







#sliderDown {
    margin: 100px auto;
    width: 50%;
}
#sliderDown h3 {
    padding: 10px;
    margin: 0;
    background-color: rgba(214, 46, 51 , 0.6);
    cursor: pointer;
    color: white;
    transition: all 0.5s ease;
}
#sliderDown div {
    padding: 10px;
    background-color: #ccc;
    display: none;
}
#sliderDown h3:hover {
    transform:scale(1.02);
    box-shadow: 0px 2px 5px #0000007e;
}
#sliderDown .first {
    display: block;
}


#counter {
    background-image: url(../img/invitation-2508607__340.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 330px;
}
.counter-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 46, 51 , 0.6);
    color: white;
}
.tim {
    padding: 50px;
    border: 1px solid #FFF;
    font-weight: 500;
    font-size: 30px;
}
#contact-us {
    margin-top: 100px;
}
#contact-us .head h2 {
    text-transform: uppercase;
    font-size: 35px;
    color: #444;
    font-weight: bold;
    margin-bottom: 20px;
}
#contact-us .head p {
    color: #777;
    font-weight: 300;
    font-size: 16px;
}
#Home h2, p {
    text-align: center;
}
#contact-us .con-info h3 {
    color: #444;
    font-size: 20px;
    font-weight: bold;
}
#contact-us .con-info p {
    font-size: 16px;
    line-height: 26px;
    color: #777;
}

#contact-us .icons {
    margin-top: 50px;
}
#contact-us .icons p {
    margin-bottom: 35px;
}
#contact-us .con-info p {
    font-size: 16px;
    line-height: 26px;
    color: #777;
}
#contact-us i {
    margin-right: 20px;
    color: #777;
}
#contact-us .red {
    color: #D62E33 !important;
}
 .social-list {
    margin-top: 60px;
    color: #777;
}
.social-list i {
    margin-right: 10px;
    border: 1px solid #999;
    width: 40px;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
    color: #777;
    transition: all 0.5s ease;

}
.social-list i:hover {
    margin-right: 10px;
    border: 1px solid #999;
    width: 40px;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
    color: #ffffff !important;
    background-color: #D62E33;

}
#contact-us form input, #contact-us form textarea {
    margin-bottom: 20px;
    border-radius: 0;
}
#contact-us form textarea {
    height: 200px;
    resize: vertical;
}

#contact-us form input, #contact-us form textarea {
    margin-bottom: 20px;
    border-radius: 0;
}
#chars {
    font-size: 20px;
    color: #D62E33;
}
#contact-us form button {
    background-color: #D62E33;
    color: #fff;
    padding: 10px 20px;
    border-radius: 0;
    text-transform: uppercase;
}






















@media  screen and (max-width: 600px) {

    .inner-cover h2 {

        font-size: 40px;
        }
        #sliderDown {
            margin: 100px auto;
            width: 90%;
        }
        
#counter {
    background-image: url(../img/invitation-2508607__340.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 700px;
}


  }